body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url(https://source.unsplash.com/1920x1080/?animals);
    background-size: cover;
    font-size: 120%;
}

.card {
    background: #000000b5;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 100%;
    margin: 1em;
    height: fit-content;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    width: 44px;
    height: 44px;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #7c7c7c6b;
}

.weatherArea {
    padding: 1%;
    display: flex;
}

.weatherDay {
    display: inline-block;
    padding: 1%;
    border-radius: 30px;
    background-color: #222121d0;
    border: 1px solid white;
}

.weatherArea .weatherDay {
    margin-right: 1%;
}

.weatherArea .weatherDay :last-child {
    margin-right: 0;
}


.pac-container{
    text-align: right;
}
@media screen and (max-width: 1040px) {
    body {
        background-color: #222;
        background-image: url(https://source.unsplash.com/1200x800/?animals);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: initial;
    }

    .weatherArea {
        padding: 1%;
        display: block;
    }

    .weatherDay {
        display: block;
        padding: 1% 10% 10% 10%;
        border-radius: 30px;
        background-color: #222121d0;
        margin-bottom: 1%;
    }

    .weatherArea .weatherDay {
        margin-right: 0;
        margin-bottom: 10%;
    }

    .weatherArea .weatherDay :last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
}